@import './ResourceMainURL.scss';

$foodpic2-image-url: $resource-url + "/menu/foodpic2.jpg";
$breakfast-image-url: $resource-url + '/menu/nasilemak.jpg';
$lunch-image-url: $resource-url + '/menu/nasikerabu.jpg';
$dinner-image-url: $resource-url + '/menu/hokkienmee.jpg';
$teatime-image-url: $resource-url + '/menu/tehtarik.jpg';